body {
  font-family: sans-serif;
}
core-header-panel {
  background: white;
}
core-toolbar {
  background-color: #56BA89;
}
#navheader {
  background-color: #03A9F4;
}

.content {
  padding: 20px;
}
/* drawer is always visible on a wide screen
so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

html /deep/ .dialog-notifications {
  position: fixed;
  margin-top:64px;
  margin-right:2px;
  top: 0px;
  right: 0px;
}
    
paper-dropdown {
  top: 64px;
}

paper-fab {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

paper-icon-button[alarm] {
  color: #B16138;
}

.toastred {
  color: #B16138;
}

.toastgreen {
  color: green;
}